
<h1> Demographic <small>Retrieve object and query it</small> </h1>
<%= simple_form_for @demographic, url: demographic_get_url do |f| %>
    <%= f.input :payer_name %>
    <%= f.input :payer_id %>
    <%= f.input :provider_last_name %>
    <%= f.input :provider_first_name %>
    <%= f.input :provider_npi %>
    <%= f.input :member_id %>
    <%= f.input :member_last_name %>
    <%= f.input :member_first_name %>
    <%= f.input :member_dob %>
    <%= f.input :member_gender %>
    <%= f.input :internal_id %>
    <%= f.button :submit, 'Get',class: 'btn large bolder'%>
<% end %>


