<h1>Retrieve Demographic object</h1>


<% @demographic.each do |demographic_key, demographic_value| %>
    <% if  demographic_key.to_s =='demographics' then %>
        <h2>  <%= demographic_key %>:</h2>
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs">
            <% demographic_value.each do |subscriber_or_dependent_key, subscriber_or_dependent_value| %>
                <% active = (subscriber_or_dependent_key.to_s == 'subscriber') ? 'active' : '' %>
                <li class="<%= active %>">
                  <a href="#<%= subscriber_or_dependent_key %>" data-toggle="tab"><%= subscriber_or_dependent_key %></a>
                </li>
            <% end %>
          </ul>
          <div class="tab-content">
            <% demographic_value.each do |subscriber_or_dependent_key, subscriber_or_dependent_value| %>
                <% active = (subscriber_or_dependent_key.to_s == 'subscriber') ? 'active' : '' %>
                <div class="tab-pane <%= active %>" id="<%= subscriber_or_dependent_key %>">
                  <% subscriber_or_dependent_value.each do |key, value| %>
                      <% if  key.to_s =='address' then %>
                          <div class="address well">
                            <h4>  <%= key %>:</h4>
                            <address>
                              <% value.each do |address_key, address_value| %>
                                  <p><%= address_key %>: <%= address_value %></p>
                              <% end %>
                            </address>
                          </div>
                          <!--END DIV address-->
                      <% else %>
                          <p><%= key %>: <%= value %></p>
                      <% end %>
                  <% end %>
                </div>
                <!--END DIV tab-pane-->
            <% end %>
          </div>
          <!--END DIV tab-content-->
        </div> <!--END DIV tabbable tabs-left-->
    <% elsif demographic_key.to_s =='error' %> <!--END IF =='demographics'-->
        <h2>  <%= demographic_key %>:</h2>
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs">
            <% active = 'active' %>
            <% demographic_value.each do |error_key, error_value| %>
                <li class="<%= active %>">
                  <% active = '' %>
                  <a href="#<%= error_key %>" data-toggle="tab"><%= error_key %></a>
                </li>
            <% end %>
          </ul>
          <div class="tab-content">

            <% active = 'active' %>
            <% demographic_value.each do |error_key, error_value| %>
                <div class="tab-pane <%= active %>" id="<%= error_key %>">
                  <% active = '' %>
                  <p><%= error_key %>: <%= error_value %></p>
                </div>
            <% end %>
          </div>
        </div>
    <% end %> <!--END IF =='error'-->
<% end %>