<div>
  <%= f.input :facility_name%>
  <%= f.input :provider_name%>
  <%= f.input :tax_id%>
  <%= f.input :address %>
  <%= f.input :city%>
  <%= f.input :zip %>
  <%= f.input :ptan%>
  <%= f.input :npi %>
  <%= f.input :payer_id %>
  <%= f.link_to_remove 'remove', :class => 'btn btn-danger' %>
</div>