

  <h1>Welcome<small>Provider Settings </small></h1>
<%= form_tag(welcome_save_url) do %>

    <%= label_tag(:api_key, 'api_key:') %>
    <%= text_field_tag(:api_key, session[:api_key]) %>

    <%= label_tag(:first_name, 'first name:') %>
    <%= text_field_tag(:first_name, session[:first_name]) %>

    <%= label_tag(:last_name, 'last name:') %>
    <%= text_field_tag(:last_name, session[:last_name]) %>

      <%= label_tag(:test, 'Test Mode:') %>


      <div class="control-group">
        <div id="callback-toggle-button" class="toggle-button"  title="for sandbox data">
          <div class="toggle-area <%= session[:test] =='true'?  'on':'off' %>">
            <%= check_box_tag :test, 'false', true, class: 'checkbox',value: session[:test] %>
            <span class="labelLeft btn">ON</span>

            <span class="labelRight" >OFF </span>
          </div>
        </div>
      </div>




<br>
    <%= submit_tag('Save',class: 'btn large bolder') %>
<% end %>
